
  <h1>Xgl</h1>

  <p class="blog-published">
    <a class="blog_info_published" href="/blog/2006-03-07/xgl.html">
      7th of March, 2006
</a>  </p>

  <p><a href="http://home.thorsen.pm/gallery/screenshot/xgl-1.png?embed=true">I’ve managed to get</a> <a href="http://en.opensuse.org/Xgl">Xgl</a> to work! (Special thanks to <a href="http://www.ritter.demon.co.uk">DavidK-64</a> for A: telling me about Xgl It’s really amazing, you just got to <a href="http://www.freedesktop.org/~davidr/xgl-demo1.xvid.avi">see</a> for yourself to get the real impression. The <a href="http://en.opensuse.org/Compiz">compiz</a> manager features Wobbling windows, transparancy, a new “switcher” and a whole lot more. I’m truly speachless. This is the best eye-candy I’ve ever experienced. Even though I’m no fan of windows, It will be interresting to see how <a href="http://www.microsoft.com/windowsvista/default.aspx">Vista</a>‘s 3D effects will be, compared to Xgl+compiz… The basic install-steps are really quite basic – at least in ubuntu with nvidia:</p>
<ol>
<li>Install Xgl and compiz* packages</li>
<li>Start <a href="http://home.thorsen.pm/linux/xgl/Xgl_start.txt?embed=true">Xgl</a> and <acronym title="Or whatever X-based terminal you like">xterm</acronym></li>
<li>su – &lt;username&gt;</li>
<li>Start <a href="http://home.thorsen.pm/linux/xgl/compiz_gnome.txt?embed=true">compiz + gnome</a></li>
<li>Run gconf-editor and configure the <a href="http://home.thorsen.pm/linux/xgl/gconf.png?embed=true">plugins</a></li>
</ol>


