
  <h1>Multimedia updates (partially old news)</h1>

  <p class="blog-published">
    <a class="blog_info_published" href="/blog/2008-05-25/multimedia_updates__partially_old_news_.html">
      25th of May, 2008
</a>  </p>

  <p>I’ve been enjoying xbox mediacenter on my xbox 1.x for several years now and I’ve finally gotten the opportunity to install it on my <a href="http://en.wikipedia.org/wiki/Htpc">htpc</a> as well. This is because the xbmc-team has ported it to <a href="http://sourceforge.net/project/showfiles.php?group_id=87054&amp;package_id=260464&amp;release_id=585323">Windows</a>, <a href="http://sourceforge.net/project/showfiles.php?group_id=87054&amp;package_id=276120">Mac</a> and Linux.</p>
<p>To my big surprise I was able to install the <a href="http://xbmc.org/wiki/?title=Linux_port_project">Linux port</a> through <a href="http://ubuntu.com">Ubuntu</a>‘s package system, with this source:</p>
<pre><code>deb http://ppa.launchpad.net/team-xbmc-hardy/ubuntu hardy main
</code></pre>
<p>It works very well, and I encourage everyone to try it out. It can play any media you can think of, and has some additional interesting features. Browse <a href="http://www.youtube.com/results?search_query=xbmc">Youtube</a> for previews if you don’t know what XBMC is.</p>
<p>Another update is <a href="http://banshee-project.org/Releases/0.99.1">Banshee</a>. I’ve been swapping between banshee and <a href="http://www.gnome.org/projects/rhythmbox/">rhythmbox</a>, without knowing which to use. They both suck in different ways… I’m hoping banshee to keep up the good work, since it really looks promising. You can try it out in Ubuntu, using this source:</p>
<pre><code>deb http://ppa.launchpad.net/banshee-team/ubuntu hardy main
</code></pre>
<p>Some of thhe cool things in Banshee 1.0beta is that:</p>
<ul>
<li>it doesn’t take forever to load, no-matter <a href="http://abock.org/rich/screencasts/million.ogg">how much</a> music you have.</li>
<li>it can play movies</li>
<li>it has smart playlists</li>
</ul>
<p>…And for all of you, who don’t think need to try out another multimedia-app: Have you tried <a href="http://www.songbirdnest.com">Songbird</a> ?</p>


