
  <h1>rt.cpan.org – great fun!</h1>

  <p class="blog-published">
    <a class="blog_info_published" href="/blog/2009-09-09/rt-tickets.html">
      9th of September, 2009
</a>  </p>

  <p>I must say I enjoy getting rt-tickets. “Why?”, you might ask. Well, It’s probably the only way I can actually know that someone use, or has tried to use a module <a href="http://search.cpan.org/~jhthorsen">I’ve written</a>. The bad (if you can call it bad) thing about getting a ticket is that it’s rather critical that it gets fixed. This part I’m not so good at. But let’s not forget that it’s not only the original auther that can fix a bug… Which reminds me that I should also file some bugs/requests/patches to various projects I’ve forked off <a href="http://github.com">github</a>.</p>
<p>So much to do, and so little time 🙂</p>


