
  <h1>Online DOCSIS config file editor</h1>

  <p class="blog-published">
    <a class="blog_info_published" href="/blog/2009-09-18/docsis-config-file-generator.html">
      18th of September, 2009
</a>  </p>

  <p>I’ve written an <a href="http://home.thorsen.pm/services/docsis">online DOCSIS config file editor</a> which (of course) can be used to generate config files for equipment that follow the <a href="http://en.wikipedia.org/wiki/DOCSIS">DOCSIS specification</a>.</p>
<p>The frontend is written using <a href="http://www.catalystframework.org/">Catalyst</a>, and the “backend” use <a href="http://search.cpan.org/perldoc?DOCSIS::ConfigFile">DOCSIS::ConfigFile</a>, meaning the whole thing is powered by <a href="http://perl.org">Perl</a>.</p>
<p>(The frontend will soon support “shared secret”, which the backend already supports)</p>


