
  <h1>Which name to pick?</h1>

  <p class="blog-published">
    <a class="blog_info_published" href="/blog/2009-05-12/dhcpd-module-name.html">
      12th of May, 2009
</a>  </p>

  <p>I’m writing a new <a href="http://github.com/jhthorsen/net-isc-dhcpd">module</a>, which is currently named “Net::DHCPd”. It’s not a good name imo, since Net::DHCPd sounds more like a module that actually <em>is</em> a dhcp server, which mine is not.</p>
<p>This is what it can, or is supposed to support in the future:</p>
<ul>
<li>Interact with ISC DHCPd</li>
<li>Start/stop/restart the daemon</li>
<li>Parse and build config</li>
<li>Check config file for error</li>
<li>Parse leases file</li>
</ul>
<p>So what should it be called? I’m thinking about naming it ISC::DHCPd, since it’s primary target is to interact with that spesific server. But can I call it the same as what <a href="https://www.isc.org/software/dhcp">the actual server</a> is called?</p>
<p>Let me know if you have any idea.</p>


